@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: grid;
  
  
}
#mother{
 
 
  overflow-x: hidden;
}
 ::-webkit-scrollbar{
  width: 0.5rem;
   
  background:transparent;
}
 
 ::-webkit-scrollbar-thumb{
  background: #713402;
  border-radius: 10px;
  
  
}
.gymName{
  font-size: 25px;
  color: white;
  padding: 0 1rem;
  border: 5px solid white;
}
nav.scrollStyle{
 background-color: rgb(61, 61, 61);
 padding: 0.2rem;
 border-bottom: 1px solid ;
}
nav{
 
 width: 100%;
  position: fixed;
 
 
  text-align: center;
  z-index: 3;
  text-wrap: nowrap;
   
}
 
.studio{
  font-size: 24px;
}
 
#trainHard{
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 700;
  transform: translateX(-100%);
 
}
#trainHard.slideRight{
  transform: translateX(0);
  transition: 1s ease-in-out;

}
 
 
#member{
  border: 1px solid white;
  background : #ff7300;
  color: white;
  border-radius: 0px;
  transform: translateY(30px);
  opacity: 0;
}
#member.showIt{
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease;

}
 
 

#member:hover{
  background:white;
  color: black;
 
}
.banner{
  top:30%;
}
.styleSection{
  background-color:#ff7300 ;
  z-index: -1;
  height: 50%;
}
.mobileStyle{
 top: 0;
 right: 0;
}
.hideIt{
  opacity: 0;
  transform: translateY(30px);
}
.showIt{
 
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}
.slideMe{
  transform: translateX(0);
  transition: 0.8s ease;

}
.pushLeft{
  transform: translateX(-120%);

}
.pushRight{
  transform: translateX(120%);
}

#womenBack.slideMe{
  transform: translateX(0);
  transition: 0.8s ease;
}
#results.slideMe{
  transform: translateX(0);
  transition: 0.8s ease;
}
 
 
 

  ul{
  list-style-type: none;


}
 ul li{
  padding: 0.5rem;
  font-size: 15px;
}
#list p{
  font-size: 15px;
}
#area ul li{
  padding: 1rem;
  font-size: 18px;
}
#powered a{
      text-decoration: none;
  
      color: white;

}
#area iframe{
  width: 100%;
  height: 300px;
}

#btn-back-to-top {
  background-color:#262626;
  position: fixed;
  bottom: 20px;
  right: 20px;
 text-align: center;
 display: none;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 color:white;
 border: 2px solid white;
 

}
#btn-back-to-top:hover{
  background-color: #ff7300;
}

@media screen and  (max-width:760px) {
   
  #trainHard{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
  
  }

  .mobileStyle{
    height: 20%;
    top: inherit;
 right: inherit;
    bottom:24%;
    width: 100%;

  }
  #list{
    text-align: center;
  }
  .gymName{
    font-size: 30px;
  
    padding: 0 0.5rem;
    border: 3px solid white;
  }
  #btn-back-to-top{
    bottom: 5px;
    right:5px;
    


}
#btn-back-to-top i{
    font-size: 1rem;
}

nav{
  
   
   text-align: start;
}
  
}